@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

 --color-brand: #2d87e0;
 
  --color-brand-light: #e8f1fb;
  --color-text: #1f2937;        /* gray-800 */
  --color-surface: #ffffff;
  --color-border: #d1d5db;      /* gray-300 */
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Base elements */
body {
  @apply bg-brand-light text-gray-800 font-sans min-h-screen flex flex-col;
}

h1 {
  @apply text-3xl font-bold text-gray-800;
}

h2 {
  @apply text-xl font-semibold text-gray-800 my-4;
}
h3 {
  @apply text-lg font-bold my-4;
}
ul {
  @apply my-10;
}

p {
  @apply my-2;
}

/* Header */
header {
  @apply bg-white ;
  nav {
  @apply flex items-center gap-5 justify-between max-w-5xl mx-auto px-12 py-4;
}
h1 {
  @apply text-gray-500;
}

}



/* Form Elements */

form {
  @apply max-w-md;
}

input, select, textarea {
  @apply block w-full mt-2 mb-4 p-2;
}


/* Custom Class */
.container {
  @apply max-w-5xl mx-auto px-12 py-8;
}

.card {
  @apply bg-white rounded border border-gray-300 px-3 py-3 my-2 flex justify-between items-center;
}

.highlight {
  @apply border-l-4 border-l-green-300  ;
}

.btn {
  @apply bg-brand text-white  px-4 py-2 rounded-md hover:bg-brand/90 transition;
}
.title{
    @apply text-2xl font-bold text-gray-600 mb-4;
}
.label{
    @apply block text-gray-700 font-semibold mb-2;
}